# Unity generado automáticamente
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Bb]uild/
[Bb]uilds/

# Archivos de usuario de Unity
UserSettings/

# Archivos generados por Visual Studio / Rider
.vs/
.idea/
.gradle/
.vscode/

# Archivos temporales
*.csproj
*.sln
*.suo
*.user
*.userprefs

# Sistema operativo
.DS_Store
Thumbs.db